/*BAGIAN KRS*/


/*Merubah font menjadi Bold*/

.tabelkrsatas {
    font-weight: bold;
}


/*Mengubah Background*/

.tabelkrsbrown {
    background-color: darkgray;
}


/*Menghilangakn garis pada bawah dan kanan tabel*/

.tabelkrshilang {
    border-bottom: none;
    border-right: none;
}


/*Merubah posisi Text*/

.tabelkrstengah {
    text-align: center;
}


/*Merubah posisi Text*/

.tabelkrskiri {
    text-align: left;
}


/*Merubah Family dan warna Text*/

.foot {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: azure;
}

.link {
    text-decoration: none;
    color: greenyellow;
}

.link :visited {
    color: greenyellow;
}